@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #EFEBE2;
}
.cabecalhoPrincipal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #F6F9FB;
    height: 80px;
    margin-bottom: 45px;
}
.logo {
    height: 60px;
    margin-left: 6%;
}
.logo:hover {
    height: 70px;
}
.menu {
    display: flex;
    color:#5DABCB;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin-right: 5%;
}
.botoes {
    margin: 0 20px;
    text-align: center;
}
.botoes:hover {
    color: #8a2be2;
    cursor: pointer;
}
.botoes:active {
    color: #EC9EC0;
}
.imagenspets {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pets {
    background-color: #F6F9FB;
    width: 190px;
    height: 280px;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 20px 35px 20px 35px;
    box-shadow: 0 0 1em rgba(161, 161, 161, 0.849);
}
.pets h3 {
    font-weight: bolder;
    font-size: 20px;
    color:#1e211c;
    margin-bottom: 0px;
}
.pets p {
    color: #a5a5a5;
    font-size: 12px;
    margin-top: 0px;
}
.pets img {
    height: 150px;
    border-radius: 50%;
    box-shadow: 0 0 1em rgba(161, 161, 161, 0.699);
}
button {
    background: #F6F9FB;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    border: 2px solid #892be25e;
    transition: 0.3s;
}
button:hover {
    background: #892be25e;
    color: white;
    border: #892be25e;
}
button:active {
    background: #EC9EC0;
    color: white;
    border: #EC9EC0;
}
footer {
	text-align: center;
	background: #F6F9FB;
    padding: 10px;
    height: 100px;
    margin-top: 30px;
}
footer img {
    height: 40px;
}
.copyright {
	color: #EC9EC0;
	font-size: 13px;
	margin: 20px 0 0;
}
@media (max-width: 700px) {

    .cabecalhoPrincipal {
        height: max-content;
        flex-direction: column;
        align-items: center;    
    }
    .logo {
        margin: 0;
    }
    .botoes {
        margin: 7px;
    }
    .botoes:active {
        color: #8a2be2;
    }
}
